/* General rules  */
body {
    background: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    color: #333;
}
.wrapper {
    width: 1200px;
    margin:100px auto;
}
img {
    max-width:100%;
}

/* Header rules */
header {
    text-align: center;
}
img[alt="Logo Mexico"] {
    margin-bottom:80px;
}
img[alt="Banner Mexico Mer"] {
    border-top:10px solid #08a7ba;
    display: block;
}

/* Nav rules */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
nav a {
    width: 20%;
    display: inline-block;
    padding:20px 0;
    color:#fff;
    font-size:17px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    transition:.3s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
nav a:hover {
    padding-top:50px;
    /* box-shadow:0 0 200px rgba(0,0,0,0.5) inset; */
}
.nav-red {
    background:#e82231;
}
.nav-red:hover {
    background:#a21822;
}
.nav-pink {
    background:#e61089;
}
.nav-pink:hover {
    background:#a10b60;
}
.nav-yellow {
    background:#f5a21e;
}
.nav-yellow:hover {
    background:#ab7115;
}
.nav-green {
    background:#89c241;
}
.nav-green:hover {
    background:#60872d;
}
.nav-blue {
    background:#09a8bb;
}
.nav-blue:hover {
    background:#067583;
}

/* Main rules  */
main {
    padding:0 150px 50px;
    background: #fff;
    overflow: hidden;
}
h1 {
    text-align: center;
    font-size: 40px;
    margin:40px 0;
}

main img {
    float: right;
    margin:0 0 20px 20px;
}
h2 {
    font-size: 20px;
}
main p {
    line-height: 30px;
}